---
name: Build & Publish PHP Base

on:  # yamllint disable-line rule:truthy
  schedule:
    - cron: "0 0 1,15 * *"  # Every 2 weeks
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-and-publish-php-base.yml
      - .github/workflows/internal-build-and-publish.yml
      - 'common/**'
      - 'php-base/**'
  workflow_dispatch:

jobs:
  build-and-publish:
    uses: ./.github/workflows/internal-build-and-publish.yml
    strategy:
      matrix:
        image: [php-base]
        info:
          - version: '8.3-max-children'
            php: '83'
            alpine: '3.20'
            target: fpm
    with:
      image: php-base
      version: ${{ matrix.info.version }}
      target: ${{ matrix.info.target }}
      build-args: |
        ALPINE_VERSION=${{ matrix.info.alpine }}
        PHP_VERSION=${{ matrix.info.php }}
