---
name: Build & Publish

#
# Internal workflow to build and publish a package
#

on:  # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      image:
        description: Name of the image to publish
        type: string
        required: true
      version:
        description: Tag of the image to publish
        type: string
        required: true
      target:
        description: Dockerfile target to build
        type: string
        required: false
        default: final
      build-args:
        description: Build arguments to pass along to Docker
        type: string
        required: false

jobs:
  build-and-publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker GitHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./${{ inputs.image }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ inputs.image }}:${{ inputs.version }}
          target: ${{ inputs.target }}
          build-args: ${{ inputs.build-args }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
